@import "./Utils/mixin", "./Utils/variables", "./Utils/animations";
@import "./Layout/footer", "./Layout/whitescreen", "./Layout/header","./Layout/resto",
"./Layout/operation";
@import "./Layout/location", "./Layout/hero";
@import "./Base/reset";

body {
font-family: 'Roboto', sans-serif;
margin: 0;
background: #f6f6f6;
}

h1{
    color: rgba(0,0,0,0.20);
}

h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h4{
    margin-bottom: 5px;
}

* a {
text-decoration: none;
}

.main {
margin: 0;
padding: 0;
@include flexbox-center;
flex-direction: column;
}




/*HEADER*/


.headermap{
    &__img img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    }
}

.menu__header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__title {
    width: 1350px;
    font-family: Shrikhand, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.line{
    width: 40px;
    border: 2px solid $color-tertiary;
    margin-left: 10px;

}


.hero {
    background: #fafafa;
    width: 100%;
    padding-bottom: 20px;
    &__container {
        width: 100%;
        padding: 20px;
        @include flexbox-center();
        flex-direction: column;
    }
    &__title {
        text-align: center;
    }
    &__text {
        text-align: center;
    }
    &__button {
    width:300px;
    margin: auto;
    @include flexbox-center();
    @include button-style;
    &:hover {
    @include button-hover;
    }
    }
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tuto {
    flex-direction: row;
    padding: 55px 20px 45px 20px;
    width: 80%;
    &__title {
        padding:auto
    }
    &__card {
        height: 100px;
        width: 300px;
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        @include shadow;
        box-shadow: 2px 2px 10px #c4c3c0;
        border-radius: 10px 10px 10px 10px;
        padding: 0 10px 0 30px;
        margin-bottom: 20px;
        margin-left: 10px;
            &__icon{
            margin-right: 15px;
            color: $shadow-color;
            }
            &__number{
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: $color-primary;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            left: -45px;
            color: white;
            }
            &:hover{
            background-color: lighten($color-primary, $amount: 35%);
            }
            &:hover :nth-child(2){
            color: $color-primary;
            }   
        }
    } 



.restaurants {
    width: 800px;
margin: 0;
background: #f6f6f6;
padding: 20px;
max-width: 1200px;
@include flexbox-center;
flex-direction: column;
align-items: flex-start;
    &__title{
        margin: auto;
    }
}

.restaurant {
    &__cards {
        display: grid;
        grid-template-rows: repeat(4,1fr) ;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 20px;
    }
    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        border-radius: 20px;
        transform: scale(1.0);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        &-new {
            @include flexbox-center;
            position: absolute;
            background: #99e2d0;
            top: 20px; right: 20px;
                & p {
                color: #1b6150;
                padding: 10px 20px;
                margin: 0;
        }
    }
    &:hover {
        transition: .5s;
        transform: scale(1.02);
        box-shadow: 0px 0px 10px 2px rgba(147, 86, 220,0.6);
    }
    &-image {
        width: 100%;
        height: 190px;
        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }
    }
    &__block {
        background: white;
        padding: 20px 15px 20px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 90px;
        border-radius: 0 0 20px 20px;
        &-info {
            text-align: center;
            color: black;
            margin-left: 20px;
            font-size: 3em;
            font: small-caps bold 24px/1 sans-serif;
            & > :first-child {
            font-weight: 700;
            }
        }
        &-earth {
        @include flexbox-center;
        margin-right: 20px;
        width: 30px;
        }
    }
.heart {
        width: 30px;
        stroke-width: 30;
        stroke: black;
        fill: white;
        cursor: pointer;
}
.heart-full {
        position: absolute;
        fill: url(#text-fill);
        stroke: none;
        width: 50px;
}
.heart-empty {
        width: 50px;
        position: relative; 
        &:hover {
            opacity: 0;
            transition: 0.5s;
        }
    }
}
}
.full__menu{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.meals{
    height: auto;
    width: 380px;
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
    padding: 7px;
    box-shadow: 4px 4px 6px #aaa;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: padding-right 450ms ease-in-out;
    &:hover {
		padding-right: 75px;
	}
	&:hover .cross {
		opacity: 1;
		transform: translate(-50px);
	}

	&:hover .fa-check-circle {
		transform: rotate(360deg);
	}
}
.cross{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    width: 50px;
    height: 63px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    padding: 10px;
    right: -50px;
    top: 0;
    opacity: 0;
    transition: transform 330ms ease-in-out;
}
.cross .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
}

.last__line {
    & h4{
    margin: 0;
    }
    & p{
        margin: 0;
        text-overflow: ellipsis;
        width: 20px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5em;
}

.bouton{
display: flex;
justify-content: center;
}

.btn__order button{
    background: linear-gradient(
        180deg
        , #ff79da 0%, #9356dc 100%);
    color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    box-shadow: 4px 4px 6px #aaa;
    cursor: pointer;
    margin: 30px 0;
    padding: 20px;
    width: 100%;
}



.starter{
    animation: fadein 3s ease-in-out;
}

// Responsive //

@media screen and (min-width: 800px) {
.restaurant {
    &__cards {
        display: grid;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}
.process__step {
    width: 100%;
}
.process__steps {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.footer {
    &__bloc {
        margin-bottom: 15px;
        &-links {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            max-width: 900px;
        }
    }
}
}


