.hero {
    background: #fafafa;
    width: 100%;
    padding-bottom: 20px;
    &__container {
        width: 100%;
        padding: 20px;
        @include flexbox-center();
        flex-direction: column;
    }
    &__title {
        text-align: center;
    }
    &__text {
        text-align: center;
    }
    &__button {
        width:300px;
        margin: auto;
        @include flexbox-center();
        @include button-style;
        @include tablet{
            width:150px;
            align-items: center;
        }
        &:hover {
            @include button-hover;
        }
    }
}
