@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hide {
  0% {
    opacity: 1;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
footer {
  background-color: #353535;
  padding: 25px;
  color: white;
  text-align: center;
}

ul {
  list-style: none;
}
ul li {
  padding: 5px 0 5px 0;
}
ul li a {
  color: white;
}

.fa-utensils {
  margin-right: 12px;
}

.fa-hands-helping {
  margin-right: 5px;
}

.whitescreen {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 1;
  animation: hide 0.5s 2.5s linear forwards;
}
.whitescreen .spinner {
  border: 10px solid #FF79DA;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #99E2D0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin: auto;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: white;
}
.header__arrow {
  position: absolute;
  left: 20px;
}

.menu__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.restaurant {
  margin: 30px auto;
  background: #f6f6f6;
  padding: 20px;
  max-width: 1300px;
  width: 80%;
  height: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
}
.restaurant__title {
  margin: auto;
}
.restaurant__cards {
  width: 80%;
  height: auto;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
}
.restaurant__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  border-radius: 20px;
  transform: scale(1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.restaurant__card-new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #99e2d0;
  top: 20px;
  right: 20px;
}
.restaurant__card-new p {
  color: #1b6150;
  padding: 10px 20px;
  margin: 0;
}
.restaurant__card:hover {
  transition: 0.5s;
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
}
.restaurant__card-image {
  width: 100%;
  height: 190px;
}
.restaurant__card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant__card__block {
  background: white;
  color: rgba(0, 0, 0, 0.2);
  padding: 20px 15px 20px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  height: 90px;
  border-radius: 0 0 20px 20px;
}
.restaurant__card__block-info {
  color: black;
  margin-left: 20px;
  width: 200px;
}
.restaurant__card__block-info > :first-child {
  font-weight: 700;
}
.restaurant__card__block-hearth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 30px;
}
.restaurant__card__block-name {
  color: rgba(0, 0, 0, 0.2);
}
.restaurant__card .heart {
  width: 20px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.restaurant__card .heart-full {
  width: 20px;
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}
.restaurant__card .heart-empty {
  width: 20px;
  position: relative;
}
.restaurant__card .heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
}

.restaurant__block {
  width: 100%;
}

.restaurant__block-info {
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
}

.restaurant__block-city {
  padding-top: 10px;
}

.restaurant__block-earth {
  width: 40px;
  display: flex;
  flex-wrap: wrap;
}

.operation {
  margin-bottom: 50px;
}

.operation h2 {
  padding: 20px;
}

@media screen and (min-width: 1440px) {
  .operation h2 {
    text-align: center;
  }
}
.operation__steps {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .operation__steps {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.operation__steps li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 25px;
  margin: 15px 20px 15px 30px;
  border-radius: 20px;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
  background-color: #f5f5f5;
}

.operation__steps li p {
  font-weight: 500;
  margin-left: 20px;
}

.operation__steps li:hover {
  background: #f2eafb;
}

.operation__steps li:hover .fas {
  color: #9356DC;
}

.operation__steps--number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 5px 9px;
  margin-left: -40px;
}

.operation__steps--icon {
  color: grey;
  font-size: 1.2rem;
  margin-left: 20px;
}

.headermap__img img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu__title {
  width: auto;
  font-family: Shrikhand, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
@media screen and (max-width: 1280px) {
  .menu__title {
    padding: 10px 90px;
  }
}

.line {
  width: 40px;
  border: 2px solid #99E2D0;
  margin-left: 10px;
}

.mainmap__menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}

.meals {
  height: auto;
  width: auto;
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 7px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.meals:hover {
  padding-right: 75px;
}
.meals:hover .cross {
  opacity: 1;
  transform: translate(-50px);
}
.meals:hover .fa-check-circle {
  transform: rotate(360deg);
}

.full__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn 3s;
  flex-wrap: wrap;
}

.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 10px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}

.cross .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

.last__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}
.last__line h4 {
  margin: 0;
}
.last__line p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (max-width: 1280px) {
  .last__line {
    padding-right: 20px;
  }
}

.starter {
  animation: fadeIn 2s ease-in-out;
}
@media screen and (max-width: 1280px) {
  .starter {
    width: 400px;
  }
}

.dish {
  animation: fadeIn 4s ease-in-out;
}
@media screen and (max-width: 1280px) {
  .dish {
    width: 400px;
  }
}

.dessert {
  animation: fadeIn 6s ease-in-out;
}
@media screen and (max-width: 1280px) {
  .dessert {
    width: 400px;
  }
}

.main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tuto {
  flex-direction: row;
  padding: 55px 20px 45px 20px;
  width: 80%;
}
@media screen and (max-width: 1280px) {
  .tuto {
    padding: 0;
  }
}
.tuto__title {
  padding: auto;
}
.tuto__card {
  height: 100px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 2px 2px 10px #c4c3c0;
  box-shadow: 2px 2px 10px #c4c3c0;
  border-radius: 10px 10px 10px 10px;
  padding: 0 10px 0 30px;
  margin-bottom: 20px;
  margin-left: 10px;
}
@media screen and (max-width: 1280px) {
  .tuto__card {
    width: 200px;
    height: 70px;
    align-items: center;
  }
}
.tuto__card__icon {
  margin-right: 15px;
  color: #c4c3c0;
}
.tuto__card__number {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -45px;
  color: white;
}
.tuto__card:hover {
  background-color: #f2eafb;
}
.tuto__card:hover :nth-child(2) {
  color: #9356DC;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 940px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  color: #7a7a7a;
}
.location__city {
  margin-left: 13px;
  font-weight: 400;
}

.hero {
  background: #fafafa;
  width: 100%;
  padding-bottom: 20px;
}
.hero__container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero__title {
  text-align: center;
}
.hero__text {
  text-align: center;
}
.hero__button {
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 940px) {
  .hero__button {
    width: 150px;
    align-items: center;
  }
}
.hero__button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}

.heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
  width: 30px;
}

.heart-empty {
  width: 30px;
  position: relative;
}
.heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
}

.bouton {
  display: flex;
  justify-content: center;
}

.btn__order button {
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  margin: 30px 0;
  padding: 20px;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  background: #f6f6f6;
}

* {
  box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

h1 {
  color: black;
  font-family: Shrikhand, Roboto, sans-serif;
}

h2 {
  margin: 0;
  text-align: center;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  margin: 0;
  margin-bottom: 5px;
}

h5 {
  font-family: "Shrikhand", "sans-serif";
  padding: 5px 0 5px 0;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

h6 {
  margin: 0;
}

.main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.starter {
  animation: fadein 3s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
