  
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem;
  }
  * {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  li {
    list-style-type: none;
  }
  h1{
    color: black;
    font-family: Shrikhand, Roboto, sans-serif;
}
  h2 {
    margin: 0;
    text-align: center;
  }
  h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h4{
  margin:0;
  margin-bottom: 0;
}

h5 {
  font-family: "Shrikhand", "sans-serif";
  padding: 5px 0 5px 0;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

  h6 {
    margin: 0;
  }