@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
@mixin button-hover {
  opacity: 0.8;
  cursor: pointer;
  transition: .3s;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);    
}
@mixin button-style {
  opacity: 1;
  background: $gradient;
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);  
}
@mixin shadow {
  box-shadow: 2px 2px 10px $shadow-color;
}




@mixin tablet {
  @media screen and (min-width:map-get($breakpoints, tablet)){
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width:map-get($breakpoints, desktop)){
    @content;
  }
}
@mixin large {
  @media screen and (min-width:map-get($breakpoints, large)){
    @content;
  }
}

@mixin medium-screen {
  @media screen and (min-width: map-get($breakpoints, medium)) {
    @content;
  }
}